<!DOCTYPE html>
<html>
  <head>
    <title>
      RailsTailwind
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="flex flex-wrap p-8">
      <%= render "layouts/notice" %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
